.top-wrapper {
  width: 100vw;
  height: 100vh;

  .top-container{
    padding-top: 200px;
  }
}

.navbar-transparent {
  margin-bottom: 0px;
  background-color: rgba(0,0,0,0.5);

  img {
    height: 40px;
    weight: 40px;
  }
}
